@import "tailwindcss";

*{
    box-sizing: border-box;
}
  
.video-bg video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.video-bg{
    background-image: linear-gradient(rgba(0,0,0,0),rgb(9, 35, 80)),url('/imgs/videobg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
